# assuming the torch version is 2.4.1, cuda 12.4, and python 3.11
einops
einops_exts
av
omegaconf
sentencepiece
protobuf
transformers
accelerate
pandas 
scikit-learn
tqdm
wandb
huggingface-hub[cli]
pillow
open-clip-torch
peft
triton==3.0.0
deepspeed
ipython
