einops
einops-exts
transformers
# torch
huggingface_hub
huggingface_hub[cli]
pillow
open_clip_torch
protobuf
sentencepiece
omegaconf
flash-attn>=0.2.3
torchvision
braceexpand
webdataset
tqdm
wandb
flash-attn
